<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/searchStyles.css">
</head>

<body>
    <main style="padding: 20px 16vw 20px;">
        <h2 class="page-heading">Student Management Appication</h2>
        <form action="/search" method="post">
            <div class="search-div">
                <input type="text" id="searchBar" placeholder="Enter Your Keywords" name="studentName"
                    value="<%= searchString %>">
                <input type="text" id="searchBar" placeholder="Enter Your Keywords" name="studentName"
                    value="<%= searchString %>">
                <div class="searchbar-btn">
                    <button id="search-btn" type="submit">Search</button>
                    <a href="/logout" id="logout-btn" style="text-decoration: none;">Logout</a>
                </div>
            </div>
        </form>
        <div>
            <div class="table">
                <div class="row table-header">
                    <div class="cell">
                        <span>Name</span>
                    </div>
                    <div class="cell">
                        <span>ID</span>
                    </div>
                    <div class="cell">
                        <span>Class</span>
                    </div>
                    <div class="cell">
                        <button onclick="window.open('/add','_self')">
                            <i class="add-btn fa-solid fa-plus" style="color: #ffffff;"></i>
                        </button>
                    </div>

                </div>
                <% for (let index=0; index < students.length; index++) { %>
                    <div class="row student">
                        <div class="cell" data-title="Full Name">
                            <%= students[index].studentName %>
                        </div>
                        <div class="cell" data-title="Age">
                            <%= students[index].studentAdNo %>
                        </div>
                        <div class="cell" data-title="Job Title">
                            <%= students[index].studentClass %>
                        </div>
                        <div class="cell-btn">
                            <div class="btn-group">
                                <button onclick="window.open('/update/<%= students[index].studentAdNo %>', '_self')">
                                    <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                                </button>
                                <button onclick="window.open('/delete/<%= students[index].studentAdNo %>', '_self')">
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        </div>
    </main>
</body>

</html>